@model IEnumerable<Lvh_Aspnet_Lesson12.Models.Lvh_TACGIA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lvh_TenTG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lvh_TenTG)
        </td>
        <td>
            @Html.ActionLink("Lvh:Edit", "LvhEdit", new { id=item.Lvh_MaTG.Trim() }) |
            @Html.ActionLink("Lvh:Details", "LvhDetails", new { id=item.Lvh_MaTG.Trim() }) |
            @Html.ActionLink("Lvh:Delete", "LvhDelete", new { id=item.Lvh_MaTG.Trim() })
        </td>
    </tr>
}

</table>
